
 
          <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <h2 class="text-2xl font-bold mb-4"> All Products </h2>
       
            <table id="products-table" class="table-auto w-full">
              <thead>
                <tr>
                  <th class="px-4 py-2">#</th>
                  <th class="px-4 py-2">Product</th>
                  <th class="px-4 py-2">Category</th>
                  {{!-- <th class="px-4 py-2">Description</th> --}}
                  <th class="px-4 py-2">Price</th>
                  <th class="px-4 py-2">Image</th>
                  <th class="px-4 py-2">Actions</th>

                </tr>

              </thead>
              <tbody>

                {{#each products}}
                <tr>
                  <td class="border px-4 py-2"> {{ @index }}</td>
                  <td class="border px-4 py-2">{{this.name}} </td>
                  <td class="border px-4 py-2">{{this.category}} </td>
                  <td class="border px-4 py-2">{{this.Price}} </td>
                  <td class="border px-4 py-2">
                    <img class="product-image" src="/product-image/{{this._id}}.jpg" alt="Product Image">
                  </td>
                  <td class="border px-4 py-2">
                    {{!-- <a href="/owner/edit-product/{{this._id}}"
                      class="mb-6 inline-flex justify-center px-3 py-2 text-base font-semibold text-white transition-all duration-200 bg-blue-600 border border-transparent rounded-md tems-center hover:bg-blue-700 focus:bg-blue-700 ">Edit</a> --}}
                    <a href="/admin/delete-product/{{this._id}}"
                      class="mb-6 inline-flex justify-center px-3 py-2 text-base font-semibold text-white transition-all duration-200 bg-red-600 border border-transparent rounded-md tems-center hover:bg-red-700 focus:bg-red-700 "
                      onclick="return confirm('Do you want to delete {{this.name}}')">Delete</a>
                  </td>


                  {{/each}}

                  <!-- Add more rows as needed -->
              </tbody>
            </table>
          </div>


        </div>
   

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function () {
    $('#datatable-search').DataTable({
      // Add any customization options here
    });
  });
</script>


<script>
  $(document).ready(function () {
    $('#products-table').DataTable({
      // Add any customization options here
    });
  });
</script>