<div class="relative overflow-hidden bg-white">
    <div class="pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40">
        <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
            <div class="sm:max-w-lg">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                    {{store.heading}}
                    </h1>
                <p class="mt-4 text-xl text-gray-500"> {{store.desc}} </p>
                <p class="mt-4 text-xl text-gray-500"> {{store.address}} </p>
                <p class="mt-4 text-xl text-gray-500"> {{store.phone}} </p>
            </div>
            <div>
                <div class="mt-10">
                    <!-- Decorative image grid -->
                    <div aria-hidden="true"
                        class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
                        <div
                            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                            <div class="flex items-center space-x-6 lg:space-x-8 p-8">
                                    <div class="h-auto w-full overflow-hidden rounded-xl m-8 sm:opacity-0 lg:opacity-100">
                                        <img src="/owner-image/{{store._id}}.jpg"
                                            alt="" class="h-full w-full object-cover object-center">
                                    </div>
                                  
                                
                            </div>
                        </div>
                    </div>

                    <a href="#products"
                        class="inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">
                        View Products</a>
                </div>
            </div>
        </div>
    </div>
</div>



{{!-- FEATURED PRODUCTS --}}


<section id="products" class="py-12 bg-white sm:py-16 lg:py-20">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="max-w-md mx-auto text-center">
            <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl">Our featured items</h2>
            {{!-- <p class="mt-4 text-base font-normal leading-7 text-gray-600">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Purus faucibus massa dignissim tempus.</p> --}}
        </div>

        <div class="grid grid-cols-2 gap-6 mt-10 lg:mt-16 lg:gap-4 lg:grid-cols-4">

            {{#each products}}
            <div class="relative group border p-4 rounded">
                <div class="overflow-hidden aspect-w-1 aspect-h-1 ">
                    <img class="object-cover w-auto h-32 transition-all duration-300 group-hover:scale-125"
                        src="/product-image/{{this._id}}.jpg"
                        alt="" />
                </div>
                <div class="flex items-start justify-between mt-4 space-x-4">
                    <div>
                        <h3 class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">
                            <a href="#" title="">
                                {{this.name}}
                                <span class="absolute inset-0" aria-hidden="true"></span>
                            </a>
                        </h3>
                        
                    </div>

                    <div class="text-right">
                        <p class="text-xs font-bold text-gray-900 sm:text-sm md:text-base"> {{this.Price}} ₹ </p>
                    </div>
                </div>
            </div>

            {{/each }}
        </div>
    </div>
</section>

<!-- Bottom-Left Corner -->
<div class="fixed bottom-8 right-8">
    <a href="/owner/store/profile/edit"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-4 px-4 rounded-full shadow-lg">
        Edit Store
        </a>
</div>